
.showcase-membership {
    display: flex;
    text-align: left;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(204, 201, 201);
}

#info-membership {
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    background-color: rgb(236, 245, 248);
}
