
nav ul {
    display: flex;
    margin: auto;
}

nav ul li {
    display: inline-block;
    margin: auto;
    list-style: none;
}

.navbar-link {
    /* border: 1px dotted white; */
    display: flex;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    color: lightgray;
}

.menu-container {
    position: relative;
}

.menu {
    display: inline-block;
    background-color: rgb(160, 160, 160);
    border-radius: 2px;
    left: -25%;
    padding: 0;
    position: absolute;
    text-decoration: none;
    z-index: 1;
    animation: menuAnimation 250ms ease-in-out forwards;
    transform-origin: top center;
    width: 150%;
}

.menu-item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.menu-item:hover {
    background-color: rgb(255, 208, 215);
    border-radius: 2px;
}

.menu-item:hover .menu-link {
    background-color: rgb(255, 208, 215);
    color: black;
}

.menu-link {
    color: white;
    font-family: 'Segoe UI', sans-serif;
    /* font-weight: bold; */
    text-decoration: none;
}

@keyframes menuAnimation {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
